APP_NAME=BCP Tablero NPS API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
DUCKDB_PATH=data/sharepoint_lists.duckdb
APP_DUCKDB_PATH=data/application.duckdb
JWT_SECRET_KEY=75e3cc77e6322a7972ca566ca01d007dc3e935addf4c97177a250924fd9e9433
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60